@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-gray-800;
  }
}

/* Custom slider styling if needed, but I'll try to use Tailwind util-classes first or standard input range styling */
input[type=range] {
  @apply cursor-pointer;
}